.cards__item__pic-wrap1 {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
    height: 250px;
  }
  
  .cards__item__pic-wrap1::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: indianred;
    box-sizing: border-box;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  ul {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cards__item__title1 {
    color: indianred;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 0px;
  }
  
  .app-text {
    margin: 20px 100px;
    color: #fff;
    font-size: 22px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
  }
  
  .main-btns {
    text-align: center;
  }
  
  .cards1 {
    background: linear-gradient(transparent, black),
      url("../assets/appointments.jpg") center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .cards2 {
    margin-top: 20px;
    background: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin-bottom: -60px;
  }
  
  .cards2 > h1 {
    margin-top: -80px;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }